*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
} 

h2{
  font-size: 1.4em;
}

a{
  text-decoration: none;
  color: #03C988;
  font-weight: 600;
}

img{
  width: 100%;
  height: 100%;
}

label{
  display: grid;
  font-weight: 500;
  font-size: 15px;
  color: #a9aeb3;
  /* color:#00000078; */
}

input{
  all: initial;
  padding: 8px 0px 5px 0px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-radius: 0;  
  border-bottom: 2px #0000004f solid;
  transition: border .3s;
}

input:focus, input:active {  
  caret-color: #03C988;
  border-color:#03C988;
  border-bottom: 2px #03C988 solid;
}

.container{
  padding: 20px 24px 26px 24px;
}

.sign-up{
  display: flex;
  flex-direction: column;
}

@media (min-width: 320px) {  

  .sign-up__image{
    background-image: url(./images/hero-5-transformed.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    height: 200px;
  }

  .sign-up__image-solapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    background-color: #00000099;
  }

  .sign-up__image-solapa span{    
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    font-size: .97em;
  }

  .sign-up__image img{
    object-fit: cover;  
    width: 65px;
    height: 65px;
  }

  .title{
    font-size: 1.4em;
  }

  .subtitle{
    margin-top: 5px;
    font-size: .9em;
    font-weight: 500;
    color: #00000099;
  }

  .form{
    display: grid;    
    gap: 24px;
    
    margin-top: 26px;
  }

  .sign-up__button{
    padding: 16px;
    margin-top: 14px;
    color: #202020;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
    background-color: #03C988;
  }

  .alreadyAccount{
    margin-top: 26px;
    color: #202020b8;
    font-size: .95em;
  }

}